@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.navbar {
    background-color: #9DC3E6;
    font-family: 'Roboto', sans-serif;
}

#title {
    color: #4472C4;
    font-size: 30px;
    padding-left: 20px;
}

